{% extends "base.html" %}

{% block content %}
<h1>DETAIL PAGE</h1>
<div class="mt-3 mb-3 border rounded ">
  <div class="pt-1 ps-3">
  <h5>{{ movie.title }}</h5>
  <p>{{ movie.description }}</p>
  </div>
</div >
<hr>
<div class="mt-3">
<h5>댓글 목록</h5>
<p>
  {% if comments %}
  {% for comment in comments %}
  <div>
    {{ comment.content }} {{ comment.user }}
    <form action="{% url "movies:comments_delete" movie.pk comment.pk%}" method="POST">
      {% csrf_token %}
      <input type="submit" value='댓글삭제'>
    </form>
  </div>
  {% endfor %}
  {% else %}
  <p>아직 댓글이 없네요...</p>
  {% endif %}
</p>
</div>
<hr>

<form action="{% url "movies:comment_create" movie.pk%}" method='POST'>
  {% csrf_token %}
  {{ form }}
  <input type="submit" value='Submit'>
</form>

<a href="{% url "movies:update" movie.pk%}">UPDATE</a>
<form action="">
  <input type="submit" value='DELETE'>
</form>
<a href="{% url "movies:index" %}">BACK</a>
{% endblock content %}