<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>
    <form>
      <input type="text" v-model="makeTodo">
      <input type="submit" value="Add" @submit.prevent="addTodo">
    </form>

    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button>Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todos = ref([])
        const makeTodo = ref(null)
        const addTodo = function () {
          // const todo = {
          //   id: date.now(), text: makeTodo.value, isCompleted: false
          // }
          todos.value.push({
            id: Date.now(), text: makeTodo.value, isCompleted: false
          })
          makeTodo.value = null
        }
        return { 
          todos, makeTodo,
          addTodo 
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
